- var url = "https://www.site.com"
- var description = "Page description less than 200 characters"
- var titleGlobal = "site"
- var autor = "@autor"

//- Description no longer than 155 characters
meta(name="description" content=description)
//Twitter Card data
meta(name="twitter:card" content=description)
meta(name="twitter:site" content=autor)
meta(name="twitter:title" content=title)
meta(name="twitter:description" content="")
meta(name="twitter:creator" content=autor)
//- Twitter Summary card images must be at least 120x120px
meta(name="twitter:image" content=url+"/meta/summary.jpg" )

//Open Graph data
meta(property="og:title" content=title )
meta(property="og:type" content="article" )
meta(property="og:url" content=url)
meta(property="og:image" content=url+"/meta/preview.jpg" )
meta(property="og:description" content=description )
meta(property="og:site_name" content=titleGlobal )
//meta(property="fb:admins" content="Facebook numeric ID" )
